body {
  margin: 0;
  padding: 0;
}

div.slot-view {
  display: flex;
  width: 100%;
}

div.slot-view > div.day, div.slot-view > div.time {
  /*height: 48em;*/
  border: solid 1px black;
  flex-grow: 1;
  position: relative;
}

div.slot-view > div.day > div.slot, div.slot-view > div.time > div.slot {
  border: 1px solid black;
  position: absolute;
  width: 100%;
  overflow: auto;
}

header.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #444444;
  color: white;
}

header.top .item {
  display: flex;
}

header nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #444444;
  color: white;
}

header nav > ul li {
  display: block;
  margin-right: 1em;
}
header nav > ul li a {
  color: white;
  text-decoration: none;
}
